@model Route
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    <head>
        <link rel="stylesheet" href="~/css/SignUp.css" asp-append-version="true" />
    </head>
    <div class="container mt-5">
        <h2>Create Route</h2>
        <form>
            <div class="form-group">
                <label asp-for="DepartureCity">From:</label>
                <input asp-for="DepartureCity" type="text" class="form-control" placeholder="Departure City">
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalCity">To:</label>
                <input asp-for="ArrivalCity" type="text" class="form-control" placeholder="Arrival City">
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
                <button type="submit" class="btn btn-primary btn-lg">Create</button>
            </div>
            <a asp-controller="Route" asp-action="Index" class="btn btn-secondary btn-lg">Back to the List</a>
        </form>
    </div>

</form>
