@model IEnumerable<Route>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/UserList.css" asp-append-version="true" />
</head>

<div class="container mt-5">
    <h2>Route List</h2>

    <table class="user-table">
        <thead>
            <tr>
                <th>Departure City</th>
                <th>Arrival City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var route in Model)
            {
                <tr>
                    <td>@route.DepartureCity</td>
                    <td>@route.ArrivalCity</td>
                    <td>
                        <a asp-controller="Route" asp-action="Update" asp-route-id="@route.Id" class="btn-update">Update</a>
                        <a asp-controller="Route" asp-action="Delete" asp-route-id="@route.Id" class="btn-delete">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="add-user-section">
        <a asp-controller="Route" asp-action="Create" class="btn-add-user">Create Route</a>
    </div>
</div>
