@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <!-- Diğer head içeriği ... -->
    <link rel="stylesheet" href="~/css/FlightSearch.css" asp-append-version="true" />
</head>
<div class="container mt-5">
    <h2>Flight Search</h2>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputFrom">From</label>
                <input type="text" class="form-control" id="inputFrom" placeholder="Departure city">
            </div>
            <div class="form-group col-md-4">
                <label for="inputTo">To</label>
                <input type="text" class="form-control" id="inputTo" placeholder="Destination city">
            </div>
            <div class="form-group col-md-4">
                <label for="inputDate">Date</label>
                <input type="date" class="form-control" id="inputDate">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Search Flights</button>
    </form>
</div>
